/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}
/* Style CSS above*/

.navigation {
    font-size: 15px;
    color:black;
    text-align: center;
    margin: 1%;
    padding: 1%;
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-decoration: none;
}

.anchor-style {
    color:black;
    text-decoration: none;
}

.highway-img {
    width: 90%;
    margin-bottom: 40px;
    margin-left: 95px;
    margin-right: 40px;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.box1 {
    background: teal;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    background: gold;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    background: cadetblue;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 {
    background: coral;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box5 {
    background: crimson;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6 {
    background: forestgreen;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box7 {
    background:darkorchid;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box8 {
    background: hotpink;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box9 {
    background: indigo;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box10 {
    background: dodgerblue;
    color:white;
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* About page CSS*/


.section-images {
    margin-bottom: 25px;
}

.jumbo-about-img {
    width: 85%;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 40px;
}

.top-section {
    margin-bottom: 55px;
    padding: 40px;
    border-bottom: 2px dotted black;
    margin-left: 55px;
    margin-right: 40px;

}

.row-one {
  display:inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 55px;
  margin-right: 40px;  
}

.left-box {
    display:flex;
    flex-direction:column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;
    border-bottom: 2px dotted black;

}

.right-box {
    display:flex;
    flex-direction:column;
    align-self: auto;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;
    border-bottom: 2px dotted black;
}

.row2 {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 55px;
    margin-right: 40px;  
}

.bottom-section { 
    margin-bottom: 35px;
    padding: 35px;
    border: 0;
    margin-left: 55px;
    margin-right: 50px;
    align-items: center;
}

.button { 
    background-color: white; 
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 8px 6px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: 35%;
    margin: 1%;
    margin-top: 20px;
    margin-bottom: 20px
}

.button:hover {
    background-color: #1e1e26;
    color:white;
}


/* learn page */

.mountain-image {
    width: 85%;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 40px;
}

.awesome-products {
    margin-bottom: 55px;
    padding: 40px;
    border-bottom: 2px dotted black;
    margin-left: 55px;
    margin-right: 40px;
}